li {
    display: inline-block;
    padding-right: 24px;
}

a {
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}

.active {
    text-decoration: solid;
    color: cadetblue;
    border-bottom: solid cadetblue 1px;
}
