<form [formGroup]="orderForm" (submit)="apply()">
    <div class="form-group row">
        <label for=name>Name</label>
        <input id="name" type="text" placeholder="name" formControlName="name" />
    </div>
    <div class="form-group row">
        <label for=lastname>Lastname</label>
        <input id="lastname" type="text" placeholder="lastname" formControlName="lastname" />
    </div>
    <div class="form-group row">
        <!-- TODO Step 1 address -->
        <!-- TODO Step 2 refactor to CVA -->
        <!-- TODO Step 3 invoice & delivery address -->
    </div>
    <div class="form-group row">
        <button type="submit">console.log</button>
        <button type="button" (click)="cancelForm()">Cancel</button>
    </div>
</form>
