<h3>Register for this awesome app</h3>
<form (submit)="logDetails()" [formGroup]="registrationForm">
  <table>
    <tr>
      <td>User name</td>
      <td><input type="text" formControlName="username"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" formControlName="password"></td>
    </tr>
    <tr>
      <td>
        Rate your registration experience
      </td>
      <td>
        <app-rating formControlName="rating"></app-rating>
      </td>
    </tr>
    <tr>
      <td>
        I don't want to rate my experience
      </td>
      <td>
        <input type="checkbox" formControlName="isOptOut">
      </td>
    </tr>
    <tr>
      <td>
        Rate your overall site experience
      </td>
      <td>
        <app-rating formControlName="overallRating"></app-rating>
      </td>
    </tr>
  </table>
  <button type="submit" [disabled]="registrationForm.invalid">Create Account</button>
</form>
